body {
  text-align: center;
}
.grid {
  display: flex;
  width: min(31rem, 95vw);
  flex-wrap: wrap;
  margin: 5rem auto;
}
.cell {
  width: min(10rem, 30vw);
  border: 2px solid #00000064;
  height: min(10rem, 30vw);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  margin: 2rem 0;
  padding: 1rem;
  width: calc(100% - 2rem);
  border: 1px solid black;
  border-radius: 0.5rem;
}
.input button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
}
